<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc ngay</button>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="894" height="503" src="https://www.youtube.com/embed/{{course.videoId}}" title="Course detail page" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate sint dolor, repellat aut sunt assumenda odio quisquam iure maxime. In dignissimos earum maiores praesentium qui distinctio eum officia neque?</p>
        
        </div>
    </div>
</div>

